<!-- Game and editor -->
<div style="padding: 30px; height: 80vh">
    <div style="width: 50%; height: 90%; float: left; text-align: center">
        <h2 class="text-light text-center">Juego</h2>
        <%- include('../games/snake.ejs') %>
        <h5 class="text-light mt-3">Algoritmo</h5>
        <div class="dropdown">
            <button
                id="dropdownMenuButton"
                algorithm-id=""
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="width: 40%"
            >
                Selecciona un algoritmo
            </button>
            <ul class="dropdown-menu" style="width: 40%">
                <% algorithm_list.forEach((algorithm) => { %>
                <li>
                    <a
                        class="dropdown-item"
                        onclick="updateDropdown('<%=algorithm.name%>', '<%=algorithm.algorithm_id %>')"
                        ><%= algorithm.name %></a
                    >
                </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <!-- Function to update the selected algorithm in the dropdown button -->
    <script>
        function updateDropdown(option, algorithm_id) {
            const dropdownButton =
                document.getElementById('dropdownMenuButton');
            dropdownButton.innerHTML = option;
            dropdownButton.setAttribute('algorithm-id', algorithm_id);
        }
    </script>

    <div style="width: 50%; height: 100%; float: left">
        <h2 class="text-light text-center">
            Editor (Python)
            <button
                id="runButton"
                class="btn btn-outline-light"
                onclick="runCode()"
            >
                <i class="bi bi-play-fill"></i>
            </button>
        </h2>
        <div
            id="editorContainer"
            style="
                width: 100%;
                height: 100%;
                display: inline-block;
                border: white 2px solid;
            "
        >
            <%- include('editor.ejs') %>
        </div>
    </div>

    <!--Function for code execution. First, it has to fetch the selected 
        algorithm's id and implemented code. Then it sends it to the 
        executor -->
    <script>
        let sim = null;
        function runCode() {
            const algorithm_id = document
                .getElementById('dropdownMenuButton')
                .getAttribute('algorithm-id');
            if (!algorithm_id || algorithm_id == '') {
                window.alert(
                    'Selecciona un algoritmo para probar tu código e intenta de nuevo'
                );
                return;
            }
            const code = editor.getValue();
            const button = document.getElementById('runButton');
            button.innerHTML =
                '<div class="spinner-border spinner-border-sm" role="status"></div>';
            fetch(
                `runner?aid=${algorithm_id}&code=${encodeURIComponent(
                    editor.getValue()
                )}`
            )
                .then((response) => response.json())
                .then((json) => {
                    if (json['err']) {
                        window.alert(json['err']);
                    } else {
                        let str = json['data'];
                        str = str.replaceAll('\n', '],[').replaceAll(' ', ',');
                        str = '[[' + str.substring(0, str.length - 2) + ']';
                        sim = JSON.parse(str);
                        startGame();
                    }
                })
                .finally(() => {
                    button.innerHTML = '<i class="bi bi-play-fill"></i>';
                });
        }
    </script>
</div>
